.git
.gitignore
.gitattributes

node_modules
vendor
public/build
public/storage
public/hot

storage
bootstrap/cache/*.php

.env
.env.*
.env.*.local

docker-compose.yml
docker-compose.*.yml
Dockerfile
docker/
.dockerignore

.DS_Store
*.log
.phpunit.result.cache
README.md
